*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --principal: #66ccff;
    --7A: rgb(212,56,80);
    --6A: rgb(187,60,1);
    --5A: rgb(17,127,78);
    --4A: rgb(6,104,250);
    --3A: rgb(135,73,220);
    --2A: rgb(241,132,246);
    --A: rgb(255,54,64);
    --B: rgb(255,111,48);
    --C: rgb(242,155,191);
    --D: rgb(210,184,61);
    --E: rgb(137,210,155);
    --F: rgb(56,113,104);
    --G: rgb(65,156,175);
    --H: rgb(58,121,162);
    --I: rgb(13,53,100);
    --J: rgb(233,217,200);
    --K: rgb(219,215,203);
    --L: rgb(233,168,76);
    --M: rgb(151,121,97);

    --O: rgb(55,95,69);

}

header{
    padding: 20px 10%;
    background-color: var(--principal);
    text-align: center;
}

body {
    text-align: center;
    background-color: #f2f2f2;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

main{
    width: 100%;
    height: 100%;
    justify-content: center;    padding: 0 10%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.estagios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;

    a{
        text-decoration: none;
        color: #000;
    }

    li{
        display: flex;
        list-style: none;
        text-align: center;
        border-radius: 15px;
        background-color: #fff;
        font-weight: bold;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px;
        transition: all .5s ease-in-out;

        div{
            width: 50px;
            height: 100px;
            transition: all .5s ease-in-out;

        }

        span{
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
        }
    }

    li:hover{
        div{
            width: 100px;
        }
    }

    #A7 { background-color: var(--7A); }
    #A6 { background-color: var(--6A); }
    #A5 { background-color: var(--5A); }
    #A4 { background-color: var(--4A); }
    #A3 { background-color: var(--3A); }
    #A2 { background-color: var(--2A); }
    #A  { background-color: var(--A); }
    #B  { background-color: var(--B); }
    #C  { background-color: var(--C); }
    #D  { background-color: var(--D); }
    #E  { background-color: var(--E); }
    #F  { background-color: var(--F); }
    #G  { background-color: var(--G); }
    #H  { background-color: var(--H); }
    #I  { background-color: var(--I); }
    #J  { background-color: var(--J); }
    #K  { background-color: var(--K); }
    #L  { background-color: var(--L); }
    #M  { background-color: var(--M); }
    #N  { background-color: var(--N); }
    #O  { background-color: var(--O); }

}