* {
    margin:0;
    padding:0;

}

body {
    max-width: 100%;
    display: flex;
    justify-content: center;
    
}
main {
    h1 {
        display: flex;
        justify-content: center;
    }
}

#cards {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;

    .card {
        background-color: lavender;
        border-width: 2px;
        border-radius: 30px;
        border-style:solid;
        padding: 20px;
        height: max-content;

        img {
            border-radius: 20px;
        }
    }
}

